<header class="d-flex align-items-center pb-3 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img src="../assets/banco-safra.svg" width="130px" />
    <span class="fs-4 ms-4"> Teste prático</span>
  </a>
  <button
    (click)="logout()"
    *ngIf="this.authService.isLoggedIn"
    type="button"
    class="btn btn-danger ms-5 btn-sm"
  >
    Logout
  </button>
</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
